@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gloock&family=Montserrat:wght@100&family=Mulish:wght@400;1000&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script:wght@700&family=Gloock&family=Montserrat:wght@100&family=Mulish:wght@400;1000&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gloock", serif;
}

.front_Page{
  background: url('images/front_page1.jpg')no-repeat;
   background-size: 100%; 
}


.front_Page1{
  display: flex;
  min-height: 100vh;
}

@media(max-width:800px)  {
  .front_Page1{
    display: flex;
    min-height: 30vh;
  }
}


header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
@media(max-width:800px)  {
  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5px 20px;   
    align-items: center;
    z-index: 99;
  }
  
}

.logo {
  font-size: 5em;
  color: #fff;
  user-select: none;
  
}
@media(max-width:800px)  {
  .logo {
    font-size: 300%;
    color: #fff;
    user-select: none;
    
  }
  
}
@media(max-width:800px)  {
  .logo {
    font-size: 200%;
    color: #fff;
    user-select: none;
    
  }
  
}
@media(max-width:800px)  {
  .logo {
    font-size: 10px;
    color: #fff;
    user-select: none;
    
  }
  
}
 .navigation{
  margin-top: 10px;
}
.navigation a {
  position: relative;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  justify-content: space-between;
  justify-content: center;
}

@media(max-width:800px)  {
  .navigation a {
    position: relative;
    font-size: 50%;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    margin-left: 5px;
    justify-content: space-between;
    justify-content: center;
  }
  
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
}

.navigation a:hover::after {
  transform: scaleX(1);
} 

/* ******************** middle page********************** */
.Speciality{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  color: #c0a21d;
}
@media(max-width:800px)  {
  .Speciality{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #c0a21d;
  }
  
}
.our_menu{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
}
@media(max-width:800px)  {
  .our_menu{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
  }
  
}
.cake_type{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media(max-width:800px)  {
  .cake_type{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 10px;
  }
  
}
/* ****************1st row****************** */
.card1{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.cake_card1{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .cake_card1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.cake_card1Cake_cardimage1{
  width: 150px;
  height: 150px;
  background: url('images/front_page1.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .cake_card1Cake_cardimage1{
    width: 50px;
    height: 50px;
    background: url('images/front_page1.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 10px;
  }
  
}
.cake_card1Cake_cardName1{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .cake_card1Cake_cardName1{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 10px;
  }
  
}

.cake_card2{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
}
@media(max-width:800px)  {
  .cake_card2{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
  }
  
}
.cake_card2Cake_cardimage2{
  width: 150px;
  height: 150px;
  background: url('images/doll.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .cake_card2Cake_cardimage2{
    width: 50px;
    height: 50px;
    background: url('images/doll.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.cake_card2Cake_cardName2{
  margin-top: 70px;
  margin-left: 10px;
  
}
@media(max-width:800px)  {
  .cake_card2Cake_cardName2{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 10px;
  }
  
}

.cake_card3{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
}
@media(max-width:800px)  {
  .cake_card3{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
  }
  
}
.cake_card3Cake_cardimage3{
  width: 150px;
  height: 150px;
  background: url('images/download.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .cake_card3Cake_cardimage3{
    width: 50px;
    height: 50px;
    background: url('images/download.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.cake_card3Cake_cardName3{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .cake_card3Cake_cardName3{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 10px;
  }
  
}
/* ****************2nd row****************** */

.card2{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.card2Cake_Card1{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card2Cake_Card1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card2Cake_Card1cake_cardimage2{
  width: 150px;
  height: 150px;
  background: url('images/download.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card1cake_cardimage2{
    width: 50px;
    height: 50px;
    background: url('images/download.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card2Cake_Card1cake_cardname2{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card1cake_cardname2{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 10px;
  }
  
}

/* **************************************** */
.card2Cake_Card2{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card2Cake_Card2{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card2Cake_Card2cake_cardimage2{
  width: 150px;
  height: 150px;
  background: url('images/front_page1.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card2cake_cardimage2{
    width: 50px;
    height: 50px;
    background: url('images/front_page1.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card2Cake_Card2cake_cardname2{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card2cake_cardname2{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 10px;
  }
  
}



.card2Cake_Card3{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card2Cake_Card3{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card2Cake_Card3cake_cardimage3{
  width: 150px;
  height: 150px;
  background: url('images/doll.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card3cake_cardimage3{
    width: 50px;
    height: 50px;
    background: url('images/doll.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card2Cake_Card3cake_cardname3{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card2Cake_Card3cake_cardname3{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 10px;
  }
  
}

/* ****************3rd row****************** */

.card3{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}


.card3Cake_Card1{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card3Cake_Card1{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card3Cake_Card1cake_cardimage1{
  width: 150px;
  height: 150px;
  background: url('images/front_page1.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card1cake_cardimage1{
    width: 50px;
    height: 50px;
    background: url('images/front_page1.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card3Cake_Card1cake_cardname1{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card1cake_cardname1{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 10px;
  }
  
}


.card3Cake_Card2{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card3Cake_Card2{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card3Cake_Card2cake_cardimage2{
  width: 150px;
  height: 150px;
  background: url('images/download.jpg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card2cake_cardimage2{
    width: 50px;
    height: 50px;
    background: url('images/download.jpg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card3Cake_Card2cake_cardname2{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card2cake_cardname2{
    margin-top: 35px;
    margin-left: 10px;
    font-size: 10px;
  }
  
}



.card3Cake_Card3{
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #EBF4F5;
  
}
@media(max-width:800px)  {
  .card3Cake_Card3{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #EBF4F5;
    
  }
  
}
.card3Cake_Card3cake_cardimage3{
  width: 150px;
  height: 150px;
  background: url('images/pineapple.jpeg')no-repeat;
  background-size: 200px;
  margin-top: 25px;
  margin-left: 15px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card3cake_cardimage3{
    width: 50px;
    height: 50px;
    background: url('images/pineapple.jpeg')no-repeat;
    background-size: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
}
.card3Cake_Card3cake_cardname3{
  margin-top: 70px;
  margin-left: 10px;
}
@media(max-width:800px)  {
  .card3Cake_Card3cake_cardname3{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 10px;
  }
  
}

/* **********************hot picked cake*************************** */

.Our_Hot_Picked_Cakes{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_Cakes{
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
}
.Our_Hot_Picked_Cakescake_div{
  display: flex;
  width: 40cm;
  justify-content: space-around;
  
}
@media(max-width:800px)  {
  .Our_Hot_Picked_Cakescake_div{
    display: block;
    width: 20cm;
    /* justify-content:right; */
    
  }
  
}

.Our_Hot_Picked_image1{
  width: 300px;
  height: 330px;
  background: url('images/front_page.jpg')no-repeat;
  background-size: 320px;
  margin-top: 25px;
  border-radius: 10px;
  align-items: center;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_image1{
    width: 150px;
    height: 165px;
    background: url('images/front_page.jpg')no-repeat;
    background-size: 160px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 35%;
  }
  
}
.Our_Hot_Picked_image2{
  width: 300px;
  height: 235px;
  background: url('images/doll.jpg')no-repeat;
  background-size: 300px;
  margin-top: 25px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_image2{
    width: 150px;
    height: 165px;
    background: url('images/doll.jpg')no-repeat;
    background-size: 160px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 35%;
  }
  
}
.Our_Hot_Picked_image3{
  width: 310px;
  height: 235px;
  background: url('images/pineapple.jpeg')no-repeat;
  background-size: 300px;
  margin-top: 25px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_image3{
    width: 150px;
    height: 165px;
    background: url('images/pineapple.jpeg')no-repeat;
    background-size: 160px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 35%;
  }
  
}
.Our_Hot_Picked_image4{
  width: 310px;
  height: 350px;
  background: url('images/front_page1.jpg')no-repeat;
  background-size: 360px;
  margin-top: 25px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_image4{
    width: 150px;
    height: 165px;
    background: url('images/front_page1.jpg')no-repeat;
    background-size: 160px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 35%;
  }
  
}
.Our_Hot_Picked_image5{
  width: 310px;
  height: 235px;
  background: url('images/download.jpg')no-repeat;
  background-size: 300px;
  margin-top: 25px;
  border-radius: 10px;
}
@media(max-width:800px)  {
  .Our_Hot_Picked_image5{
    width: 150px;
    height: 165px;
    background: url('images/download.jpg')no-repeat;
    background-size: 160px;
    margin-top: 15px;
    border-radius: 10px;
  }
  
}

/************ footer **************/
/* cake land information */
.footer{
  height: 350px;
  background-color: #000;
  display: flex;
  /* justify-content: space-between; */
}
@media(max-width:800px)  {
  .footer{
    height: 350px;
    background-color: #000;
    display: flex;
    /* justify-content: space-between; */
  }
  
}
.footer_info{
  
  height: 300px;
  width: 400px;
  background-color: 000;
}


.footer_Cake_Land{color: #fff;
  margin-top: 5% ;
  margin-left : 20% ;
}
@media(max-width:800px)  {
  .footer_Cake_Land{color: #fff;
    margin-top: 5% ;
    margin-left : 20% ;
    font-size: 15px;
  }
  
}
.footer_order_hour{color: #fff;
  margin-top: 5% ;
  margin-left : 15% ;
}
@media(max-width:800px)  {
  .footer_order_hour{color: #fff;
    margin-top: 5% ;
    margin-left : 15% ;
    font-size: 15px;
  }
  
}
.footer_order_hour_info{color: #fff;
  margin-top: 5% ;
  margin-left : 15% ;
}
@media(max-width:800px)  {
  .footer_order_hour_info{color: #fff;
    margin-top: 5% ;
    margin-left : 15% ;
    font-size: 10px;
  }
  
}
.footer_Cake_Land_Paragraph{color: #fff;
  margin-top: 5% ;
  margin-left : 20% ;
}
@media(max-width:800px)  {
  .footer_Cake_Land_Paragraph{color: #fff;
    margin-top: 5% ;
    margin-left : 20% ;
    font-size: 10px;
  }
  
}
.footer_Cake_Land_info{color: #fff;
  margin-top: 5% ;
  margin-left : 20% ;
}
@media(max-width:800px)  {
  .footer_Cake_Land_info{color: #fff;
    margin-top: 5% ;
    margin-left : 20% ;
    font-size: 10px;
  }
  
}


/* Order hour information */

.footer_order{
  height: 300px;
  width: 400px;
  background-color: 000;
}




/* Instagram information */

.footer_Instagram{
  height: 300px;
  width: 700px;
}

.footer_image{
  display: flex;
  justify-content: center;
}
@media(max-width:800px)  {
  .footer_image{
    display: block;
  }
  
}

.footer_Instagram_Image1{
  width: 150px;
  height: 130px;
  background-color: #c0a21d;
  background: url('images/front_page1.jpg')no-repeat;
  background-size: 200px;
  margin-left: 20px;
}
@media(max-width:800px)  {
  .footer_Instagram_Image1{
    width: 75px;
    height: 75px;
    background-color: #c0a21d;
    background: url('images/front_page1.jpg')no-repeat;
    background-size: 100px;
    margin: 0px;
  }
  
}

.footer_Instagram_Image2{
  width: 150px;
  height: 130px;
  background-color: #c0a21d;
  background: url('images/download.jpg')no-repeat;
  background-size: 165px;
}
@media(max-width:800px)  {
  .footer_Instagram_Image2{
    width: 75px;
    height: 75px;
    background-color: #c0a21d;
    background: url('images/download.jpg')no-repeat;
    background-size: 100px;
  }
  
}

.footer_Instagram_Image3{
  width: 150px;
  height: 130px;
  background-color: #c0a21d;
  background: url('images/front_page.jpg')no-repeat;
  background-size: 170px;
}
@media(max-width:800px)  {
  .footer_Instagram_Image3{
    width: 75px;
    height: 75px;
    background-color: #c0a21d;
    background: url('images/front_page.jpg')no-repeat;
    background-size: 100px;
  }
  
}

.footer_Instagram_Image4{
  width: 150px;
  height: 130px;
  background-color: #c0a21d;
  background: url('images/doll.jpg')no-repeat;
  background-size: 70%;
}
@media(max-width:800px)  {
  .footer_Instagram_Image4{
    width: 75px;
    height: 75px;
    background-color: #c0a21d;
    background: url('images/doll.jpg')no-repeat;
    background-size: 100px;
  }
  
}
.FontAwesomeIcon{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: white;
}
@media(max-width:800px)  {
  .FontAwesomeIcon{
    display: flex;
    justify-content: left;
    font-size: 15px;
    color: white;
  }
  
}

.menuBar{
  color: white;
  display: none;
}

@media(max-width:800px)  {
  .navigation{
    display: none;
  }
  .menuBar{
    color: white;
    display: block;
  }
  
}
.navigation_DropDown{
  
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
}
.navigation_menuBar {
  display: none;
  padding: 0.7rem;
  width: 30%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.navigation_menuBar li{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
}
.navigation_menuBar a{
 text-decoration: none;
  color: white;
}
li{list-style: none;}